@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap");
$lato: "Lato", sans-serif;
$light: #dbe6ed;
$light-hover: #afb5b6;
$dark: #0f1515;
$white: #fff;
$spacing-sm: 12px;
$spacing-md: 24px;
$spacing-lg: 32px;
$borderRadius: 12px;
