@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";

.container {
    background: $light;
    position: relative;
    z-index: 10;
    margin: 0 auto;
}

.locations {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        margin: 0 1.5rem;
        width: 1000px;
        display: flex;
        flex-direction: column;
        
        &__title {
            color: $dark;
            font-size: 2rem;
            font-weight: 900;
            position: relative;
            margin-bottom: $spacing-xl;

            &::after {
                content: "";
                position: absolute;
                display: inline;
                top: 15px;
                right: 0;
                width: calc(100% - 265px);
                height: 2px;
                background: $dark;
            }
        }

        &__countries,
        &__countriesHP {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 470px;
            gap: $spacing-md;
            margin-bottom: $spacing-xl;

            @include breakpoint(sm) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include breakpoint(lg) {
                grid-template-columns: repeat(3, 1fr);
            }  

            .country {
                position: relative;
                border-radius: $borderRadius;
                border: 2px solid $white;
                transition: 0.3s ease all;
                box-shadow: $boxShadow;
                
                
                &__img {
                    border-top-left-radius: $borderRadius;
                    border-top-right-radius: $borderRadius;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 55%;
                    object-fit: cover;

                    @include breakpoint(sm) {
                       height: 50%;
                    }      
                }

                .overlay {
                    border-top-left-radius: $borderRadius;
                    border-top-right-radius: $borderRadius;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 55%;
                    background: rgba($dark, 0.3);
                    transition: 0.3s ease all;

                    &:hover {
                        background: transparent;
                    }
                }

                &__content {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 45%;
                    background: $white;
                    padding: 15px;
                    border-bottom-left-radius: $borderRadius;
                    border-bottom-right-radius: $borderRadius;
                    
                    @include breakpoint(sm) {
                        height: 50%;
                     }

                    &__line {
                        border: 0.3px solid $light;
                        width: 100%;
                        margin-bottom: 5px;
                    }

                    &__description {
                        margin-bottom: 5px;
                        font-size: 1rem;
                    }

                    svg {
                        color: $aqua;
                        font-size: 1.1rem;
                    }

                    &__location {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 7px 0;
                        font-size: 1.2rem;
                        color: $dark;

                        @include breakpoint(sm) {
                            font-size: 1rem;
                         }
                         @include breakpoint(sm-only) {
                           font-size: 1rem;
                         }
                        p {
                            font-style: italic;
                        }
                    }
                    &__button {
                       @include button($white, $dark, $dark, 1rem);
                       margin-top: 10px;
                       padding: 5px;
                       width: 100%;
                       
                       @include breakpoint(sm) {
                        padding: 10px;
                     }

                     @include breakpoint(sm-only) {
                        margin-top: 5px;
                        padding: 12px;
                     }
                    }
                }

                &__tag {
                    position: absolute;
                    background: $white;
                    top: -12px;
                    left: $spacing-sm;
                    padding: 6px 8px;
                    border-radius: $borderRadius;
                    font-size: 0.8rem;
                }
            }
        }  
        &__countriesHP {
            grid-auto-rows: 275px;
            
            @include breakpoint(sm) {
              grid-template-columns: repeat(2, 1fr);
              grid-auto-rows: 250px;
            }
            
            @include breakpoint(lg) {
                grid-template-columns: repeat(3, 1fr);
            }  
            
            .country {
                .overlay {
                    height: 75%;
                }

                &__img {
                    height: 75%;
                }

                &__content{
                    height: 25%;

                    &__location {
                      width: auto;
                    }
                }
            }
          }


        &__viewmore {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                color: $dark;
                display: flex;
                align-items: center;
                font-size: 1.1rem;

                svg {
                    font-size: 1.2rem;
                    margin-left: $spacing-sm;
                    padding-top: 2px;
                }
            }
        }
    }
}
